.card {
  border-radius: 4px;
  margin: 10px;
  transition: all 80ms;
  position: relative;
  overflow: hidden;
}
.col-sm-9 {
  float: right;
  width: 75%;
  height: 25%;
}
.col-sm-3 {
  width: 25%;
  height: 230px;
  border-radius: 12px;
  background-color: #da3659;
}
.prognos img {
  width: 325px;
  height: 41px;
  margin-top: 5.5rem;
}

.card-title {
  width: 360px;
  height: 33px;
  margin: 11px 21px 5px 39.5px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.71;
  letter-spacing: 0.78px;
}
.Subscribe {
  width: 185px;
  height: 48px;
  margin: 8px 6.5px 20px 96px;
  padding: 16px 0 12px 7px;
  border-radius: 24px;
  background-color: #6ddccb;
  border-color: #6ddccb;
  float: right;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.25px;
  text-align: center;
  color: white;
}

.button1 {
  width: 144px;
  height: 24px;
  margin: 4px 7px 3px 39.5px;
  color: darkgray;
  border-radius: 10px;
}
.button2 {
  width: 108px;
  height: 24px;
  margin: 4px 7px 3px;
  color: darkgray;
  border-radius: 10px;
}
.button3 {
  width: 108px;
  height: 24px;
  margin: 4px 7px 3px;
  color: darkgray;
  border-radius: 10px;
}

.button4 {
  width: 108px;
  height: 24px;
  margin: 4px 97px 3px 7px;
  color: darkgray;
  border-radius: 10px;
}

.button5 {
  width: 166px;
  height: 24px;
  margin: 3px 7px 8px 39.5px;
  color: darkgray;
  border-radius: 10px;
}

.button6 {
  width: 108px;
  height: 24px;
  margin: 3px 13.5px 8px 7px;
  color: darkgray;
  border-radius: 10px;
}

.Airfrance-Industries {
  width: 124px;
  height: 16px;
  margin: 8px 24px 12px 42.5px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2786ff;
}

.card-text {
  width: 800px;
  height: 71px;
  margin: 8px 7.5px 42px 39.5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.39px;
  color: var(--text);
}

.row {
  display: flex;
}
.row img {
  margin: 5px;
  width: 50%;
  height: 400px;
}
/*.column {
  float: left;
  width: 50%;
  padding: 10px;
}*/

/*.column2 {
  height: 400px !important;
  width: 50%;
  padding: 5px;
}
.column1 {
  height: 400px !important;
  width: 50%;
  padding: 5px;
}*/

.details {
  width: 51px;
  height: 19px;
  margin: 33.5px 195px 17.5px 31px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.12px;
  color: #09427a;
}
.text1 {
  width: 95%;
  height: 190px;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 30px;
  margin-right: 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.39px;
  color: var(--text);
  padding-bottom: 10px;
}
.read-more-link {
  text-align: center;
  cursor: pointer;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #4ebce9;
}
.information {
  width: 86px;
  height: 19px;
  margin: 20px 20px 14px 26px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.12px;
  color: #09427a;
}
.info {
  display: flex;
  justify-content: space-between;
}
.Key {
  margin: 20px 20px 14px 26px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  word-spacing: 0.39px;
  color: #999999;
}
.keyvalues {
  width: 359px;
  height: 160px;
  margin: 20px 20px 14px 26px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  word-spacing: 0.39px;
  border-radius: 4px;
  color: #333333;
  background-color: var(--white);
}
.Type {
  margin: 20px 20px 14px 26px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  word-spacing: 0.39px;
  color: #999999;
}
.Typevalue {
  width: 170px;
  height: 20px;
  margin: 20px 20px 14px 26px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.39px;
  color: var(--text);
}
.Data {
  width: 86px;
  height: 16px;
  margin: 20px 20px 14px 26px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  word-spacing: 0.39px;
  color: #999999;
}
.Datavalue {
  width: 267px;
  height: 66px;
  margin: 20px 20px 14px 26px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.39px;
  color: var(--text);
}
.Documents {
  width: 84px;
  height: 19px;
  margin: 20px 20px 14px 26px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.12px;
  color: #09427a;
}
.Brochure {
  width: 57px;
  height: 16px;
  margin: 20px 20px 14px 26px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2786ff;
}
.Terms-Conditions {
  width: 123px;
  height: 16px;
  margin: 20px 20px 14px 26px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2786ff;
}
